<a href="https://colab.research.google.com/github/drshahizan/Python_EDA/blob/main/assignment/ass5/bdm/TheBoys/TheBoys_Assignment_5a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TheBoys - Assignment 5a
1. Pang Chern Hong | MCS231006
2. Nian Cong    | MCS231007
3. Wu Jiaming    | MCS221033
4. Liu Kaiyuan   | MCS231020

In [1]:
pip install geotext

Collecting geotext
  Downloading geotext-0.4.0-py2.py3-none-any.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 21.4 MB/s eta 0:00:00
Installing collected packages: geotext
Successfully installed geotext-0.4.0

In [2]:
pip install -U kaleido

Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 12.5 MB/s eta 0:00:00
Installing collected packages: kaleido
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
Successfully installed kaleido-0.2.1

In [3]:
import numpy as np
import pandas as pd
import geopandas as gpd
import geotext
import collections
import string, sys, os, re
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
from IPython.display import Image
from functools import reduce
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
df = pd.read_csv("/content/drive/MyDrive/brooklyn_sales_map.csv")
df

<ipython-input-5-e11e96fdfbd0>:1: DtypeWarning: Columns (40,41,43,45,46,47,86) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/brooklyn_sales_map.csv")

,Unnamed: 0,borough,neighborhood,building_class_category,tax_class,block,lot,easement,building_class,address,...,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLA,PFIRM15_FL,Version,MAPPLUTO_F,SHAPE_Leng,SHAPE_Area
0,1,3,DOWNTOWN-METROTECH,28 COMMERCIAL CONDOS,4,140,1001,NaN,R5,330 JAY STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,DOWNTOWN-FULTON FERRY,29 COMMERCIAL GARAGES,4,54,1,NaN,G7,85 JAY STREET,...,NaN,3.000540e+09,12/06/2002,1.0,NaN,NaN,17V1.1,0.0,1559.889144,140131.577176
2,3,3,BROOKLYN HEIGHTS,21 OFFICE BUILDINGS,4,204,1,NaN,O6,29 COLUMBIA HEIGHTS,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,890.718521,34656.447240
3,4,3,MILL BASIN,22 STORE BUILDINGS,4,8470,55,NaN,K6,5120 AVENUE U,...,NaN,0.000000e+00,NaN,1.0,1.0,1.0,17V1.1,0.0,3729.786857,797554.847834
4,5,3,BROOKLYN HEIGHTS,26 OTHER HOTELS,4,230,1,NaN,H8,21 CLARK STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,620.761169,21360.147631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390878,390879,3,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,3337,19,NaN,C0,364 LINDEN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,244.422014,2501.088819
390879,390880,3,WYCKOFF HEIGHTS,31 COMMERCIAL VACANT LAND,1,3337,19,NaN,C0,364 LINDEN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,244.422014,2501.088819
390880,390881,3,WYCKOFF HEIGHTS,41 TAX CLASS 4 - OTHER,4,3280,50,NaN,Z9,383 HARMAN STREET,...,NaN,0.000000e+00,NaN,1.0,NaN,NaN,17V1.1,0.0,231.409296,2795.673780
390881,390882,3,3004,04 TAX CLASS 1 CONDOS,NaN,6886,1107,NaN,NaN,14 BAY 47TH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390882,390883,3,3004,04 TAX CLASS 1 CONDOS,NaN,6886,1109,NaN,NaN,14 BAY 47 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#EDA

1,Check for Missing Values:

In [6]:
import pandas as pd
missing_values = df.isnull().sum()
print(missing_values)

Unnamed: 0                      0
borough                         0
neighborhood                    0
building_class_category        83
tax_class                    6934
                            ...
PFIRM15_FL                 363110
Version                     87155
MAPPLUTO_F                  87155
SHAPE_Leng                  87155
SHAPE_Area                  87155
Length: 111, dtype: int64

2,Understand Data Types:

In [7]:
data_types = df.dtypes
print(data_types)

Unnamed: 0                   int64
borough                      int64
neighborhood                object
building_class_category     object
tax_class                   object
                            ...
PFIRM15_FL                 float64
Version                     object
MAPPLUTO_F                 float64
SHAPE_Leng                 float64
SHAPE_Area                 float64
Length: 111, dtype: object

3,Grasp the Structure of the Dataset:

In [8]:
head = df.head()
print(head)

   Unnamed: 0  borough           neighborhood building_class_category  \
0           1        3     DOWNTOWN-METROTECH   28  COMMERCIAL CONDOS
1           2        3  DOWNTOWN-FULTON FERRY  29  COMMERCIAL GARAGES
2           3        3       BROOKLYN HEIGHTS    21  OFFICE BUILDINGS
3           4        3             MILL BASIN     22  STORE BUILDINGS
4           5        3       BROOKLYN HEIGHTS         26 OTHER HOTELS

  tax_class  block   lot  easement building_class              address  ...  \
0         4    140  1001       NaN             R5       330 JAY STREET  ...
1         4     54     1       NaN             G7        85 JAY STREET  ...
2         4    204     1       NaN             O6  29 COLUMBIA HEIGHTS  ...
3         4   8470    55       NaN             K6        5120 AVENUE U  ...
4         4    230     1       NaN             H8      21 CLARK STREET  ...

  EDesigNum        APPBBL     APPDate  PLUTOMapID  FIRM07_FLA  PFIRM15_FL  \
0       NaN           NaN         NaN         NaN         NaN         NaN
1       NaN  3.000540e+09  12/06/2002         1.0         NaN         NaN
2       NaN  0.000000e+00         NaN         1.0         NaN         NaN
3       NaN  0.000000e+00         NaN         1.0         1.0         1.0
4       NaN  0.000000e+00         NaN         1.0         NaN         NaN

   Version  MAPPLUTO_F   SHAPE_Leng     SHAPE_Area
0      NaN         NaN          NaN            NaN
1   17V1.1         0.0  1559.889144  140131.577176
2   17V1.1         0.0   890.718521   34656.447240
3   17V1.1         0.0  3729.786857  797554.847834
4   17V1.1         0.0   620.761169   21360.147631

[5 rows x 111 columns]

4,Basic Statistics:

In [9]:
statistics = df.describe()
print(statistics)

          Unnamed: 0   borough          block            lot  easement  \
count  390883.000000  390883.0  390883.000000  390883.000000       0.0
mean   195442.000000       3.0    4275.651169     272.509986       NaN
std    112838.346973       0.0    2642.765332     484.658837       NaN
min         1.000000       3.0       1.000000       1.000000       NaN
25%     97721.500000       3.0    1786.000000      21.000000       NaN
50%    195442.000000       3.0    4305.000000      45.000000       NaN
75%    293162.500000       3.0    6585.000000      94.000000       NaN
max    390883.000000       3.0    8955.000000    9133.000000       NaN

            zip_code  residential_units  commercial_units    total_units  \
count  390883.000000      390883.000000     390883.000000  390883.000000
mean    11208.429087           2.486138          0.174142       2.673227
std       361.207836          48.200178          1.653362      48.233343
min         0.000000           0.000000          0.000000       0.000000
25%     11209.000000           1.000000          0.000000       1.000000
50%     11219.000000           1.000000          0.000000       1.000000
75%     11230.000000           2.000000          0.000000       2.000000
max     33803.000000       20811.000000        355.000000   20811.000000

          land_sqft  ...        XCoord         YCoord         TaxMap  \
count  3.908830e+05  ...  3.037280e+05  303728.000000  303710.000000
mean   2.368464e+03  ...  9.921077e+05  175146.073694   31396.728152
std    2.509129e+04  ...  7.391759e+04   18390.569903     754.905314
min    0.000000e+00  ...  0.000000e+00       0.000000       3.000000
25%    0.000000e+00  ...  9.892368e+05  165334.750000   30611.000000
50%    1.900000e+03  ...  9.975955e+05  175906.000000   31506.000000
75%    2.500000e+03  ...  1.005059e+06  187140.000000   32005.000000
max    7.446955e+06  ...  1.024202e+06  208406.000000   32605.000000

             APPBBL     PLUTOMapID  FIRM07_FLA  PFIRM15_FL     MAPPLUTO_F  \
count  3.037280e+05  303728.000000      8653.0     27773.0  303728.000000
mean   1.927884e+08       1.000145         1.0         1.0       0.000244
std    7.409608e+08       0.017021         0.0         0.0       0.036740
min    0.000000e+00       1.000000         1.0         1.0       0.000000
25%    0.000000e+00       1.000000         1.0         1.0       0.000000
50%    0.000000e+00       1.000000         1.0         1.0       0.000000
75%    0.000000e+00       1.000000         1.0         1.0       0.000000
max    3.089321e+09       3.000000         1.0         1.0       7.000000

          SHAPE_Leng    SHAPE_Area
count  303728.000000  3.037280e+05
mean      337.445796  8.645885e+03
std       329.587401  3.116106e+04
min         2.143758  1.007072e-01
25%       238.997798  1.938904e+03
50%       249.411350  2.316886e+03
75%       283.169119  3.478477e+03
max     19861.521019  7.149338e+06

[8 rows x 75 columns]

#Feature Engineering with Automated Tools

1,Featuretools

In [10]:
pip install featuretools

Collecting featuretools
  Downloading featuretools-1.28.0-py3-none-any.whl (619 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 619.2/619.2 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (2.2.1)
Collecting holidays<0.33,>=0.13 (from featuretools)
  Downloading holidays-0.32-py3-none-any.whl (754 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 754.4/754.4 kB 11.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (23.2)
Requirement already satisfied: pandas>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.5.3)
Requirement already satisfied: psutil>=5.6.6 in /usr/local/lib/python3.10/dist-packages (from featuretools) (5.9.5)
Requirement already satisfied: scipy>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.11.3)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (4.66.1)
Collecting woodwork>=0.23.0 (from featuretools)
  Downloading woodwork-0.26.0-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.0/236.0 kB 11.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from holidays<0.33,>=0.13->featuretools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5.0->featuretools) (2023.3.post1)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.10/dist-packages (from woodwork>=0.23.0->featuretools) (1.2.2)
Requirement already satisfied: importlib-resources>=5.10.0 in /usr/local/lib/python3.10/dist-packages (from woodwork>=0.23.0->featuretools) (6.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->holidays<0.33,>=0.13->featuretools) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->woodwork>=0.23.0->featuretools) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->woodwork>=0.23.0->featuretools) (3.2.0)
Installing collected packages: holidays, woodwork, featuretools
  Attempting uninstall: holidays
    Found existing installation: holidays 0.36
    Uninstalling holidays-0.36:
      Successfully uninstalled holidays-0.36
Successfully installed featuretools-1.28.0 holidays-0.32 woodwork-0.26.0

In [11]:
import featuretools as ft

In [12]:
data=df

In [23]:
es = ft.demo.load_mock_customer(return_entityset=True)
es

Entityset: transactions
  DataFrames:
    transactions [Rows: 500, Columns: 6]
    products [Rows: 5, Columns: 3]
    sessions [Rows: 35, Columns: 5]
    customers [Rows: 5, Columns: 5]
  Relationships:
    transactions.product_id -> products.product_id
    transactions.session_id -> sessions.session_id
    sessions.customer_id -> customers.customer_id

In [28]:
data["index"] = data["sale_date"]
data = data.set_index("index")

In [36]:
sale_price_df= pd.DataFrame(data["sale_price"],data["sale_date"])
sale_price_df.sample(5)

            sale_price
sale_date
2011-01-07         0.0
2013-12-12         0.0
2010-08-12         0.0
2014-04-14         0.0
2003-10-16         0.0

In [37]:
land_sqft_df = pd.DataFrame(data["land_sqft"],data["sale_date"])
land_sqft_df.sample(5)

            land_sqft
sale_date
2005-12-06        0.0
2013-12-30     1900.0
2016-09-28        0.0
2013-08-21        0.0
2009-07-27     1600.0

In [45]:
LotArea_df=pd.DataFrame(data["LotArea"],data["sale_date"],data["zip_code"])
LotArea_df.sample(5)

KeyboardInterrupt: ignored

In [41]:
from featuretools.primitives import Mean

In [78]:
child_df = pd.DataFrame({"index" :df["Unnamed: 0"], "LotArea": df["LotArea"],
                                "SchoolDist": df["SchoolDist"],
                                "sale_date": df["sale_date"],
                                "sale_price": df["sale_price"]})

In [79]:
es.add_dataframe(dataframe_name="lotarea_dist",
                 index="index",
                 time_index="sale_date",
                 dataframe=child_df)

Entityset: result
  DataFrames:
    sale_price [Rows: 390883, Columns: 5]
    lotarea_dist [Rows: 390883, Columns: 5]
  Relationships:
    No relationships

In [74]:
transactions_df = pd.DataFrame({"index": df["Unnamed: 0"].astype(str),
                                "land_sqft": df["land_sqft"],
                                "zip_code": df["zip_code"],
                                "sale_date": df["sale_date"],
                                "sale_price": df["sale_price"]})

In [75]:
es = ft.EntitySet("result")

In [76]:
es.add_dataframe(dataframe_name="sale_price",
                 index="index",
                 time_index="sale_date",
                 dataframe=transactions_df)

Entityset: result
  DataFrames:
    sale_price [Rows: 390883, Columns: 5]
  Relationships:
    No relationships

In [82]:
new_relationship = ft.Relationship(entityset=es,parent_dataframe_name='lotarea_dist',parent_column_name='index',
                    child_dataframe_name='sale_price',child_column_name='sale_price')

In [83]:
es = es.add_relationship(relationship=new_relationship)

/usr/local/lib/python3.10/dist-packages/featuretools/entityset/entityset.py:414: UserWarning: Logical type Double for child column sale_price does not match parent column index logical type Integer. Changing child logical type to match parent.
  warnings.warn(

In [84]:
feature_matrix, features = ft.dfs( entityset=es,
    target_dataframe_name="sale_price",
    max_depth=2,
)
feature_matrix.head(5)

,land_sqft,zip_code,sale_price,DAY(sale_date),MONTH(sale_date),WEEKDAY(sale_date),YEAR(sale_date),lotarea_dist.LotArea,lotarea_dist.SchoolDist,lotarea_dist.sale_price,...,lotarea_dist.SKEW(sale_price.land_sqft),lotarea_dist.SKEW(sale_price.zip_code),lotarea_dist.STD(sale_price.land_sqft),lotarea_dist.STD(sale_price.zip_code),lotarea_dist.SUM(sale_price.land_sqft),lotarea_dist.SUM(sale_price.zip_code),lotarea_dist.DAY(sale_date),lotarea_dist.MONTH(sale_date),lotarea_dist.WEEKDAY(sale_date),lotarea_dist.YEAR(sale_date)
index,,,,,,,,,,,,,,,,,,,,,
58000,5000.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
58001,5000.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
58002,3890.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
66546,5000.0,11222,655490,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
66547,5000.0,11222,655490,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

Understanding feature output

In [90]:
feature = features[18]
feature

In [96]:
feature_matrix

,land_sqft,zip_code,sale_price,DAY(sale_date),MONTH(sale_date),WEEKDAY(sale_date),YEAR(sale_date),lotarea_dist.LotArea,lotarea_dist.SchoolDist,lotarea_dist.sale_price,...,lotarea_dist.SKEW(sale_price.land_sqft),lotarea_dist.SKEW(sale_price.zip_code),lotarea_dist.STD(sale_price.land_sqft),lotarea_dist.STD(sale_price.zip_code),lotarea_dist.SUM(sale_price.land_sqft),lotarea_dist.SUM(sale_price.zip_code),lotarea_dist.DAY(sale_date),lotarea_dist.MONTH(sale_date),lotarea_dist.WEEKDAY(sale_date),lotarea_dist.YEAR(sale_date)
index,,,,,,,,,,,,,,,,,,,,,
58000,5000.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
58001,5000.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
58002,3890.0,11222,715809,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
66546,5000.0,11222,655490,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
66547,5000.0,11222,655490,1,1,2,2003,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255572,34059.0,11225,0,31,12,6,2017,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
255573,37560.0,11225,0,31,12,6,2017,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
255574,100.0,11225,0,31,12,6,2017,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
255575,6491.0,11225,0,31,12,6,2017,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
257209,1607.0,11233,0,31,12,6,2017,<NA>,<NA>,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN